services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: pirates
      POSTGRES_PASSWORD: quest
      POSTGRES_DB: piratesquest
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
