<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/fragments/info-panel/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>webview-app</title>
    <script type="module" crossorigin src="/fragments/info-panel/assets/index-Dif0tcKD.js"></script>
    <link rel="stylesheet" crossorigin href="/fragments/info-panel/assets/index-m0HXVrk-.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
